<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Welcome</title>
</head>

<h1>Hi everybody, This is the index page.</h1>

<p>choose :</p>
<a href="/login">login</a> or <a href="/sign-up">sign-up</a>
</html>